body {
    max-width: 1100px;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: medium;
    line-height: 1.6em;
}

header {
    background: transparent url(img/sakura-garden.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

h1 {
    align-self: flex-start;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 3.5em;
    padding-left: 10px;
    margin-bottom: 20px;

}

h2 {
    align-self: flex-start;
    padding-left: 10px;
    margin-bottom: 0;
}

header p {
    padding-left: 10px;
    margin-top: 0;
}

h3 {
    color: #ad066d;
    font-size: 2.2em;
}

main {
    background-color: pink;
    background-position: center center;
    background-size: cover;
    padding-left: 10px;
    padding-right: 10px;
}

aside {
    background-image: url(img/aside.png);
    background-repeat: no-repeat;
}

aside h3 {
    font-style: italic;
    font-size: 1.7em;
    color: white;
}

aside ul {
    list-style-type: none;
}

aside a {
    color: #91023e;
}

footer {
    background-color: #a81a55;
    height: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: white;
}
